---
http_interactions:
- request:
    method: get
    uri: https://date.nager.at/api/v3/NextPublicHolidays/US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 26 Apr 2022 15:53:22 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2022-05-30","localName":"Memorial Day","name":"Memorial Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2022-06-20","localName":"Juneteenth","name":"Juneteenth","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":2021,"types":["Public"]},{"date":"2022-07-04","localName":"Independence
        Day","name":"Independence Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2022-09-05","localName":"Labor
        Day","name":"Labour Day","countryCode":"US","fixed":false,"global":true,"counties":nul[...]
